{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootcamp Program</title>
    <link rel="stylesheet" href="{% static 'CSS/Bootcamp.css' %}">
</head>
<body>
    <div class="container">
        <header class="navbar">
            <div class="logo"><img id="logo_img" src="../static/Images/img1.webp" alt="">Sheryians coding school</div>
            <nav class="anchors">
                <a href="{% url 'myapp:home' %}">Home</a>
                <a href="{% url 'myapp:courses' %}">Courses</a>
                <a href="{% url 'myapp:bootcamp' %}">Bootcamp(Kodr)</a>
                <a href="{% url 'myapp:requested' %}">Request Callback</a>
                <a href="{% url 'myapp:signin' %}" class="sign-in">Sign In</a>
            </nav>
        </header>
        <main class="content">
            <div class="info">
                <h1>6 months In-House Bootcamp programme - Kodr.</h1>
                <div class="details">
                    <button>Starts On: 11 Nov 2024</button>
                    <button>Placement Assistance <span class="verified">✔</span></button>
                </div>
                <p class="price">Price <span class="highlight">₹ 59000</span> [ 50,000 + 18% GST ]</p>
                <button class="seats-full">Seats Are Full</button>
            </div>
            <div class="video">
                <iframe width="746" height="420" src="https://www.youtube.com/embed/pOGLAlGCKFE" title="This Bootcamp Will Change Your Life: Kodr x Sheryians !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </main>
    </div>
    <section class="belief-section">
        <span>
            we believe in,<br><span class="highlight-green">Consistency.</span>No shortcuts.
        </span>
        <div class="features">
            <div class="feature">MERN Stack ⚡</div>
            <div class="feature">Data Structures & Algorithm 👨‍💻</div>
            <div class="feature">DBMS - SQL 🤟</div>
            <div class="feature">CORE CS Subjects ⚙</div>
            <div class="feature">Placement Assistance 💰</div>
        </div>
    </section>
    <section class="coding-schedule">
        <h1>
            Non-Stop <span class="highlight-green">5 Hours</span> Coding<span class="everyday">[Everyday]</span>
        </h1>
        <!-- <p class="subtext">[Everyday]</p> -->
        <div class="header">
            Monday To Saturday. 11:00 AM To 4:00 PM.
        </div>
    </section>
    <section class="dominate-schedule">
        <h1 class="dominate">
            Dominate.
        </h1>
        <!-- <p class="subtext">[Everyday]</p> -->
        <div class="header">
            From Start To Victory.
        </div>
    </section><br><br><br>
    <section>
            <hr>
            <select>
                <option>HTML/CSS</option>
                <option>CI/CD Pipelines</option>
                <option>Docker</option>
                <option>Containerization</option>
                <option>Versioning</option>
                <option>Load Balancing</option>
            </select>
            <hr>
            <select>
                <option>JavaScript</option>
                <option>CI/CD Pipelines</option>
                <option>Docker</option>
                <option>Containerization</option>
                <option>Versioning</option>
                <option>Load Balancing</option>
            </select>
            <hr>
            <select>
                <option>React JS</option>
                <option>CI/CD Pipelines</option>
                <option>Docker</option>
                <option>Containerization</option>
                <option>Versioning</option>
                <option>Load Balancing</option>
            </select>
            <hr>
            <select>
                <option>Data Structure Algorithm(DSA)</option>
                <option>CI/CD Pipelines</option>
                <option>Docker</option>
                <option>Containerization</option>
                <option>Versioning</option>
                <option>Load Balancing</option>
            </select>
            <hr>
            <select>
                <option>Node.js and Express JS(Backend)</option>
                <option>CI/CD Pipelines</option>
                <option>Docker</option>
                <option>Containerization</option>
                <option>Versioning</option>
                <option>Load Balancing</option>
            </select>
            <hr>
            <select>
                <option>DataBases</option>
                <option>CI/CD Pipelines</option>
                <option>Docker</option>
                <option>Containerization</option>
                <option>Versioning</option>
                <option>Load Balancing</option>
            </select>
            <hr>
            <select>
                <option>Git/GitHub</option>
                <option>CI/CD Pipelines</option>
                <option>Docker</option>
                <option>Containerization</option>
                <option>Versioning</option>
                <option>Load Balancing</option>
            </select>
            <hr>
            <select>
                <option>Devops and Deployment</option>
                <option>CI/CD Pipelines</option>
                <option>Docker</option>
                <option>Containerization</option>
                <option>Versioning</option>
                <option>Load Balancing</option>
            </select>
            <hr>
            <select>
                <option>Additional Topics</option>
                <option>CI/CD Pipelines</option>
                <option>Docker</option>
                <option>Containerization</option>
                <option>Versioning</option>
                <option>Load Balancing</option>
            </select>
    </section>
    <hr class="hr">
        <br>
        <div>
            <div class="image">
                <img class="pro_logo" src="../static/Images/img1.webp" alt="">
                <div class="connect">Let's connect with our socials</div>
                <img class="social_media" src="../static/Images/pngwing.com (3).png" alt="">
            </div>
            <div>
                <h1 class="comp">COMPANY</h1>
                <div class="headings"><br>
                    <a href="">About Us</a><br>
                    <a href="">Support</a><br>
                    <a href="">Privacy Policy</a><br>
                    <a href="">Terms and Condition</a><br>
                    <a href="">Pricing and Refund</a><br>
                    <a href="">Hire From Us</a><br>
                    <a href="">Bug Bounty</a>
                </div>
            </div>
            <div>
                <h1 class="community">COMMUNITY</h1>
                <div class="comm_headings"><br>
                    <a href="">Inertia</a><br>
                    <a href="">Discord</a><br>
                </div>
            </div>
            <div>
                <h1 class="get">Get In Touch</h1>
                <div class="get_headings"><br>
                    <a href="">+917882686877,</a><br>
                    <a href="">+917734863762</a><br>
                    <a href="">hello@sheryians.com</a><br>
                    <a href="">23-B,Indrapuri Sector C,</a>
                    <a href="">Bhopal(MP),462021</a>
                </div>
            </div>
        </div>
    <hr class="hr"><br><br>
        <center>
            <h1 class="footer">Copyright © 2024 Sheryians Pvt. Ltd.</h1>
            <h1 class="footer">All Rights Reserved.</h1>
        </center>   
</body>
</html>